{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap 스타일(css) 적용하기 -->
    <link rel="stylesheet" href="{% static 'mainapp/bootstrap/css/bootstrap.min.css' %}">
    <!-- jQuery 자바스트립트(js) 적용하기 -->
    <script type = "text/javascript" src="{% static 'frontapp/js/jquery-3.7.1.min.js' %}"></script>
</head>
<body>
    <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
        
    <li class="dropdown"><a href="#"><span>실시간 우주전파환경</span> <i class="bi bi-chevron-dow"></i></a>
        <ul>
          <li><a href="any2/">흑점,코로나파장,오로라</a></li>
          <li><a href="silsi/">태양풍</a></li>
          <li><a href="silsi2/">X-선지수,양성자지수,KP지수</a></li>

        </ul>
      </li>


    <!-- bootstrap 자바스크립트(js) 적용하기 -->
    <script type="text/javascript" src="{% static 'frontapp/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>